.footer{
    width: 100%;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(243, 243, 243);
}
.AllContens{
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* border: 2px solid red; */
}
.Footer_logo{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 1rem;
    font-size: 1.9rem;
    color: rgb(42, 145, 131);
    font-weight: 600;
}
.Footer_logo h2{
    font-size: 1.3rem;
    font-family: cursive;
}
.AllContens p{
    font-size: 1rem;
    color: rgb(117, 116, 116);
    width: 50%;
    text-align: center;
}
.tabs{
    display: flex;
    gap: 3rem;
}
.tabs a{
    font-weight: 400;
    font-size: 1rem;
    color: rgb(58, 58, 58);
    text-decoration: none;
}
.tabs a:hover{
    color: rgb(0, 132, 255);
}
.all_Icons{
    display: flex;
    gap: 2.3rem;
    font-size: 1.3rem;
    color: rgb(63, 62, 62);
}
.all_Icons i:hover{
    color: rgb(9, 138, 106);
    cursor: pointer;
}